.git
.circleci
.env.*
.php_cs.cache
.gitignore
.dockerignore

Makefile
docker
logs
var/*
vendor
coverage
tests
clover.xml
docs
*.md
*.dist
*.neon
docker-compose.*
bin/.phpunit
bin/phpunit

public/images/*

!docker/nginx/certs
!docker/nginx/*.conf
