<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <title>Imaginary freelances</title>
        {% block stylesheets %}
        <link href="css/base.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&subset=latin-ext" rel="stylesheet">
        {% endblock %}

        {% if not app.request.query.has('thirdparty') %}
            <script type="text/javascript" src="{{ asset('cookieScript.js', 'thirdparty') }}"></script>
        {% endif %}
    </head>
    <body>
        {% include "nav.html" %}
        {% include "hero.html.twig" %}
        {% block body %}{% endblock %}
        {% include "footer.html" %}
        {% block javascripts %}{% endblock %}
        
        {% if app.request.query.has('spoiler') and app.request.query.get('spoiler') == 'true' %}
        <div class="fixed object-right-bottom top-0 right-0 bg-gray-400 p-6">
            <h2 class="text-xl mb-4">Debug mode: ON</h2>
            <form method="GET">
                <ul>
                    {# <li>
                        <input type="checkbox" name="brotli" checked="{{ app.request.path }}" />
                        <label for="brotli">Enable Brotli</label>
                    </li> #}
                    <li>
                        <input
                            type="checkbox"
                            id="https_assets"
                            name="https_assets"
                            value="true"
                            {% if app.request.query.has('https_assets') and app.request.query.get('https_assets') == 'true' %}checked{% endif %}
                        />
                        <label for="https_assets">Enable https with HTTP/2 for assets</label>
                    </li>
                    <li>
                        <input
                            type="checkbox"
                            id="cache_assets"
                            name="cache_assets"
                            value="true"
                            {% if app.request.query.has('cache_assets') and app.request.query.get('cache_assets') == 'true' %}checked{% endif %}
                        />
                        <label for="cache_assets">Cache Assets</label>
                    </li>
                    <li>
                        <input
                            type="checkbox"
                            od="relative_assets"
                            name="relative_assets"
                            value="true"
                            {% if app.request.query.has('relative_assets') and app.request.query.get('relative_assets') == 'true' %}checked{% endif %}
                        />
                        <label for="relative_assets">Move assets to same domain</label>
                    </li>
                    <li>
                        <input
                            type="checkbox"
                            id="small_assets"
                            name="small_assets"
                            value="true"
                            {% if app.request.query.has('small_assets') and app.request.query.get('small_assets') == 'true' %}checked{% endif %}
                        />
                        <label for="small_assets">Reduce assets size</label>
                    </li>
                    <li>
                        <input
                            type="checkbox"
                            id="xdebug_disabled"
                            name="xdebug_disabled"
                            value="true"
                            {% if app.request.query.has('xdebug_disabled') and app.request.query.get('xdebug_disabled') == 'true' %}checked{% endif %}
                        />
                        <label for="xdebug_disabled">Disable XDebug and APP_DEBUG</label>
                    </li>
                    <li>
                        <input
                            type="checkbox"
                            id="lazy_load"
                            name="lazy_load"
                            value="true"
                            {% if app.request.query.has('lazy_load') and app.request.query.get('lazy_load') == 'true' %}checked{% endif %}
                        />
                        <label for="xdebug_disabled">Natively lazy load images (chrome only)</label>
                    </li>
                    <li>
                        <input
                            type="checkbox"
                            id="thirdparty"
                            name="thirdparty"
                            value="true"
                            {% if app.request.query.has('thirdparty') and app.request.query.get('thirdparty') == 'true' %}checked{% endif %}
                        />
                        <label for="thirdparty">Thirdparty JS: cleanup, copy locally, make async</label>
                    </li>
                </ul>
                <input type="hidden" name="spoiler" value="true" />
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mt-4 rounded" type="submit">Refresh</button>
                <button
                    onclick="document.getElementsByName('spoiler')[0].value = false"
                    class="bg-transparent hover:bg-blue-700 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
                    type="submit"
                >Hide debug</button>
            </form>
        </div>
        {% endif %}

        {% if app.request.query.has('thirdparty') and app.request.query.get('thirdparty') == 'true' %}
            <script async type="text/javascript" src="{{ asset('cookieScript.js', 'js') }}"></script>
        {% endif %}
    </body>
</html>
