<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        {% if not app.request.query.has('thirdparty') %}
            <script type="text/javascript" src="{{ asset('cookieScript.js', 'thirdparty') }}"></script>
        {% endif %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        
        {% if app.request.query.has('spoiler') and app.request.query.get('spoiler') == 'true' %}
        <div style="position: fixed;right: 0;background:darkgray;color:white;top: 0;padding: 15px 30px;">
            <h2>Debug mode: ON</h2>
            <form method="GET">
                <ul>
                    {# <li>
                        <input type="checkbox" name="brotli" checked="{{ app.request.path }}" />
                        <label for="brotli">Enable Brotli</label>
                    </li> #}
                    <li>
                        <input
                            type="checkbox"
                            name="https_assets"
                            value="true"
                            {% if app.request.query.has('https_assets') and app.request.query.get('https_assets') == 'true' %}checked{% endif %}
                        />
                        <label for="https_assets">Enable https with HTTP/2 for assets</label>
                    </li>
                    <li>
                        <input
                            type="checkbox"
                            name="cache_assets"
                            value="true"
                            {% if app.request.query.has('cache_assets') and app.request.query.get('cache_assets') == 'true' %}checked{% endif %}
                        />
                        <label for="cache_assets">Cache Assets</label>
                    </li>
                    <li>
                        <input
                            type="checkbox"
                            name="relative_assets"
                            value="true"
                            {% if app.request.query.has('relative_assets') and app.request.query.get('relative_assets') == 'true' %}checked{% endif %}
                        />
                        <label for="relative_assets">Move assets to same domain</label>
                    </li>
                    <li>
                        <input
                            type="checkbox"
                            name="xdebug_disabled"
                            value="true"
                            {% if app.request.query.has('xdebug_disabled') and app.request.query.get('xdebug_disabled') == 'true' %}checked{% endif %}
                        />
                        <label for="xdebug_disabled">Disable XDebug and APP_DEBUG</label>
                    </li>
                    <li>
                        <input
                            type="checkbox"
                            name="lazy_load"
                            value="true"
                            {% if app.request.query.has('lazy_load') and app.request.query.get('lazy_load') == 'true' %}checked{% endif %}
                        />
                        <label for="xdebug_disabled">Natively lazy load images (chrome only)</label>
                    </li>
                    <li>
                        <input
                            type="checkbox"
                            name="thirdparty"
                            value="true"
                            {% if app.request.query.has('thirdparty') and app.request.query.get('thirdparty') == 'true' %}checked{% endif %}
                        />
                        <label for="thirdparty">Thirdparty JS: cleanup, copy locally, make async</label>
                    </li>
                </ul>
                <input type="hidden" name="spoiler" value="true" />
                <button type="submit">Refresh</button>
            </form>
        </div>
        {% endif %}

        {% if app.request.query.has('thirdparty') and app.request.query.get('thirdparty') == 'true' %}
            <script async type="text/javascript" src="{{ asset('cookieScript.js', 'js') }}"></script>
        {% endif %}
    </body>
</html>
