<section class="bg-white py-8">
    <div class="container py-8 px-6 mx-auto">
        <a class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl mb-8" href="#">
            About
        </a>
        <p class="mt-8 mb-8">This website is slow. Can you find the performance optimizations that will make it blazing fast?
            <br>
            <p class="mb-8">Credits:
            <br>
            <a class="text-gray-800 underline hover:text-gray-900" href="https://github.com/tailwindtoolbox/Nordic-Store" target="_blank">Nordic Store Tailwind CSS template</a> created by <a class="text-gray-800 underline hover:text-gray-900" href="https://amritnagi.info/">Amrit Nagi</a>
            <br>
            <a class="text-gray-800 underline hover:text-gray-900" href="https://www.thispersondoesnotexist.com/" target="_blank">“This person does not exist”</a> created by <a class="text-gray-800 underline hover:text-gray-900" href="mailto:philwang@umich.edu">Phil Wang</a>, based on <a class="text-gray-800 underline hover:text-gray-900" href="https://github.com/NVlabs/stylegan2" target="_blank">StyleGAN2</a>
            <br>
            Photo by <a class="text-gray-800 underline hover:text-gray-900" href="https://unsplash.com/@shridhar?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">Shridhar Gupta</a> on <a class="text-gray-800 underline hover:text-gray-900" href="https://unsplash.com/s/photos/freelance?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">Unsplash</a>
            </p>
        </p>
    </div>
</section>

<footer class="container mx-auto bg-white py-8 border-t border-gray-400">
    <div class="container flex px-3 py-8 ">
        <div class="w-full mx-auto flex flex-wrap">
            <div class="flex w-full lg:w-1/2 ">
                <div class="px-3 md:px-0">
                    <h3 class="font-bold text-gray-900">About</h3>
                    <p class="py-4">
                        Created by Kevin Raynel & Nicolas Goutay @Theodo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>