{% extends "base.html.twig" %}

{% block body %}
    <h1>Pics of cats</h1>
    <div>
      {% for breed in breeds %}
        <h2>Breed: {{ breed.breedName }}</h2>
        <div style="display: grid;grid-template-columns: repeat(3, 1fr);grid-gap: 10px;grid-auto-rows: minmax(100px, auto);">
        {% for pic in breed.catPictures %}
          <div>{{ loop.index }} {{ pic.catName }} <img loading="lazy" width="200" height="150" src="{{ asset(pic.catPicture) }}" /></div>
        {% endfor %}
        </div>
      {% endfor %}
    </div>
{% endblock %}