{% extends "base.html.twig" %}

{% block body %}
    <h1>Pics of cats</h1>
    <div style="display: grid;grid-template-columns: repeat(3, 1fr);grid-gap: 10px;grid-auto-rows: minmax(100px, auto);">
      {% for pic in pics %}
        <div>{{ loop.index }} {{ pic.catName }} - {{ pic.breed.breedName }} <img width=200 src="{{ 'https://cdn.catbook.local/' ~ pic.catPicture }}" /></div>
      {% endfor %}
    </div>
{% endblock %}